.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 21px 64px;
    height: 600px;
}

.search-result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: groove;
}

.search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    border-style: solid;
    border-width: 0.5px;
    color: #cecece;
}